/**
 * 간단한 캘린더 아이콘 스타일링
 * 네이티브 아이콘을 흰색으로 만들고 크기만 키우기
 */

/* 네이티브 캘린더 아이콘을 흰색으로 만들고 크기 키우기 */
input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2) !important;
  transform: scale(1.3) !important;
  cursor: pointer !important;
}

/* Firefox */
input[type='date']::-moz-calendar-picker-indicator {
  filter: invert(1) brightness(2) !important;
  transform: scale(1.3) !important;
  cursor: pointer !important;
}

/* Edge/IE */
input[type='date']::-ms-calendar-picker-indicator {
  filter: invert(1) brightness(2) !important;
  transform: scale(1.3) !important;
  cursor: pointer !important;
}
